<a id="workshop-davide"></a>
<div class="session" id="workshop-davide">
    <div class="speaker">
		<div class="image"><img src="/img/2016/ws/davide.png" alt="Davide Mottes"></div>
		<div class="info">
			<div class="name">Davide Mottes</div>
			<div class="twitter"><a href="http://www.twitter.com/davidemottes/">@davidemottes</a></div>
			<div class="bio">
				<p>He was born and raised in the heart of the Trentino’s Alps. From 2005 he lives in Milan where he graduated from Politecnico di Milano in Communication Design. In the last seven years he has been working as editorial designer for the newsroom of IL, the monthly magazine of Il Sole 24 ORE. He is teaching assistant at Politecnico di Milano and Università Iuav di Venezia. Davide is passionate about typography, publishing and infographic, specially in cartography. He’s never been to Switzerland, but he loves the Swiss style, most of all the graphic design.</p>
			</div>
			<div class="meta first">
				<div class="duration">Duration: Two days</div>
				<div class="where">
					<b>Where:</b><br>
					The workshop will take place at:<br> Biblioteca Comunale di Faenza (1st Floor)<br/>Via Manfredi n. 14<br/>Faenza (RA)
					(<a class="gmap" href="https://www.google.it/maps/place/Via+Manfredi,+14,+48018+Faenza+RA">View on Google Maps</a>)<br><br>
					<b>When:</b><br>
					Wednesday 1st,Thursday 2nd of June.<br>
					The workshop will start at 10.00<br>
					Please, be on time.<br><br>
                    
                    {% if page.short %}
                    {% else  %}

                    <b>What:</b><br>
                    <p>Personal laptop with Adobe InDesign (download <a href="http://www.adobe.com/downloads.html">a 30-day trial</a> if you don’t own it). Adobe Illustrator and Photoshop are recommended but not required.
                    </p>
                    <!--div class="sponsor-ws">
                        <b>Sponsored by</b><br/>
                    </div-->
                    {% endif %}
            	</div>

                
				{% if site.tickets %}
				<div class="buy">
					<a href="#tickets">Get your ticket</a>
				</div>
				{% endif %}

			</div>
		</div>
	</div>
	<div class="topic">
		<div class="title"><a href="/ws-davidemottes.html">Anatomy of a Magazine</a></div>
		<div><a href="/ws-davidemottes.html"><img src="/img/2016/ws/davide_title.jpg" class="sponsor-tooltip workshop-image" data-toggle="tooltip" data-placement="top" data-title="Anatomy of a Magazine" data-original-title="" title="Anatomy of a Magazine"></a></div>
		<div class="abstract">
			<p class="intro">A practical guide to design your own magazine.</p>

            <p>For two days you will be an editorial designer and you will oversee the whole creative process of a magazine, from the idea to the printing files.</p>
            
			{% if page.short %}
				<p><a href="/ws-davidemottes.html">Read more</a></p>
			{% else  %}
            
            <p> In the first part of the workshop you will focus on understanding the structure, defying format, different sections and rhythm of your magazine.</p>
            
            <p><img src="/img/2016/ws/davide_il.jpg" class="sponsor-tooltip workshop-image" data-toggle="tooltip" data-placement="top" data-title="Anatomy of a Magazine" data-original-title="" title="Anatomy of a Magazine"></p>
            
            <p>Then you will design several covers and the typographic grid, an essential aim to combine texts, photos and illustrations into different layouts. And of course, you will discover how the typography matters.</p>

				
			{% endif %}
		</div>
		<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style"  addthis:url="http://2016.kerning.it/ws-davidemottes.html" addthis:title="Anatomy of a Magazine. Workshops at Kerning Conference 2016" addthis:description="For two days you will be an editorial designer and you will oversee the whole creative process of a magazine, from the idea to the printing files.">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-514b81e067037be9"></script>
<!-- AddThis Button END -->
	</div>
</div>

{% if page.short %}
{% else  %}

<div class="session results">
    <h2 style="text-align:center;">Workshop's results</h2>
    <h3 style="text-align:center;">you can download and see how the workshop went and what the teams produced</h3>
    <div class="topic">
        <div class="title">&amp;1 - <em>All about NBA</em></div>
        <div class="abstract">
            <a href="/img/2016/ws/mottes/and1.pdf" title="&amp;1 - All about NBA"><img src="/img/2016/ws/mottes/and1.jpg" class="sponsor-tooltip workshop-image"/></a>
            <p>A special edition of Basket's magazine, with two different covers, for the so waited finals, presented by Richard Favati,
            Lorenzo Feliciani, Filippo Gianessi</p>
        </div>
    </div>
    <div class="topic">
        <div class="title">ESC - <em>Hiking, sport and culture</em></div>
        <div class="abstract">
            <a href="/img/2016/ws/mottes/esc.pdf" title="ESC - Hiking, sport and culture"><img src="/img/2016/ws/mottes/esc.jpg" class="sponsor-tooltip workshop-image"/></a>
            <p>Hiking, fishing and sport are the main topics of this edition of ESC. It was presented by Valentina Caselli, Filippo Marchiori, Claudia Monici, Roberta Romagnoli</p>
        </div>
    </div>    
    <div class="topic">
        <div class="title">finis - <em>The magazine of current affairs and culture</em></div>
        <div class="abstract">
            <a href="/img/2016/ws/mottes/finis.pdf" title="finis - The magazine of current affairs and culture"><img src="/img/2016/ws/mottes/finis.jpg" class="sponsor-tooltip workshop-image"/></a>
            <p>Fine arts, culture and travel in this magazine dedicated to the cherrytree blossom in Japan. Edited by Francesca Brotto, Clelia Codella, Alessandra Marzullo</p>
        </div>
    </div>
    <div class="topic">
        <div class="title">krafty - <em>The magazine for designer makers</em></div>
        <div class="abstract">
            <a href="/img/2016/ws/mottes/krafty.pdf" title="krafty - The magazine for designer makers"><img src="/img/2016/ws/mottes/krafty.jpg" class="sponsor-tooltip workshop-image"/></a>
            <p>A magazine dedicated to makers, artesans and craftsman and their passions. Lovely craft by Sonia Balduzzi, Linda Mammi, Robert Newman.</p>
        </div>
    </div>
    <div class="topic">
        <div class="title">SUBWOOFER - <em>Musical subcultures</em></div>
        <div class="abstract">
            <a href="/img/2016/ws/mottes/SUBWOOFER.pdf" title="SUBWOOFER - Musical subcultures"><img src="/img/2016/ws/mottes/SUBWOOFER.jpg" class="sponsor-tooltip workshop-image"/></a>
            <p>Underground music, new trends and musical subcultures, everything played by Nicola Avi, Giuseppe De Luca, Giovanni Ricchi, Vittorio Vittori</p>
        </div>
    </div>
    <div class="topic">
        <div class="title">zest - <em>A magazine about food</em></div>
        <div class="abstract">
            <a href="/img/2016/ws/mottes/zest.pdf" title="zest - A magazine about food"><img src="/img/2016/ws/mottes/zest.jpg" class="sponsor-tooltip workshop-image"/></a>
            <p>We love food in all its form. This issue of zest is dedicated to paintings about "strange places to have a snack". Cooked together by Elisa Brandi, Iacopo Cecchetto, Giacomo Governatori, Alessandra Salmasi.</p>
        </div>
    </div>        
</div>
{% endif %}