<div class="section" id="schedule">
		<div class="wrapper">
			<h2>Schedule</h2>
			<h3>June 3, 2016</h3>
			<div id="schedule-abstract">
				<div class="schedule-session">
					<div class="hour">8.30</div>
					<div class="image">&nbsp;</div>
					<div class="topic">
						<div class="title light">Registration</div>
						<div class="name"></div>
					</div>
				</div>
				<div class="schedule-session">
					<div class="hour">9.30</div>
					<div class="image">&nbsp;</div>
					<div class="topic">
						<div class="title light">Welcome / Opening&nbsp;Remarks</div>
						<div class="name"></div>
					</div>
				</div>
				<div class="schedule-session" id="one">
					<div class="hour">9.40</div>
                     <a href="speakers.html#barnbrook">
						<div class="image"><img src="/img/2016/jonathan.png" alt="Jonathan Barnbrook"></div>
						<div class="topic">
							<div class="title">it is a sort of greatest hits, but not a tired, karaoke...</div>
							<div class="name">Jonathan Barnbrook</div>
						</div>
					</a>
                    
                    
				</div>
				<div class="schedule-session" id="two">
					<div class="hour">10.30</div>
                    <a href="speakers.html#MartaBernstein">
						<div class="image"><img src="/img/2016/marta.png" alt="Marta Bernstein"></div>
						<div class="topic">
							<div class="title">From Bodoni to Nebiolo, a visual journey across Italy.</div>
							<div class="name">Marta Bernstein</div>
						</div>
					</a>
                   
				</div>
				<div class="schedule-session" id="">
					<div class="hour">11.15</div>
					<div class="image">&nbsp;</div>
					<div class="topic">
						<div class="title light">Coffee&nbsp;Break</div>
						<div class="name"></div>
					</div>
				</div>
				<div class="schedule-session" id="three">
					<div class="hour">11.35</div>
                    <a href="speakers.html#CLAGNUT">
						<div class="image"><img src="/img/2016/richard.png" alt="Richard Rutter"></div>
						<div class="topic">
							<div class="title">Introductions, Interruptions and Seductions</div>
                        	<div class="name">Richard Rutter</div>
						</div>
					</a>
				</div>
				<div class="schedule-session" id="four">
					<div class="hour">12.25</div>
                    <a href="speakers.html#marksimonson">
						<div class="image"><img src="/img/2016/mark.png" alt="Mark Simonson"></div>
						<div class="topic">
							<div class="title">The Origins of the Modern Type Designer</div>
							<div class="name">Mark Simonson</div>
						</div>
					</a>
                    
				</div>
				<div class="schedule-session">
					<div class="hour">13.10</div>
					<div class="image">&nbsp;</div>
					<div class="topic">
						<div class="title light">Lunch</div>
						<div class="name"></div>
					</div>
				</div>
				<div class="schedule-session" id="five">
					<div class="hour">14.40</div>
                    <a href="speakers.html#barcellonaluca">
						<div class="image"><img src="/img/2016/luca.png" alt="Luca Barcellona"></div>
						<div class="topic">
							<div class="title">Leave Your Mark without a Pause!</div>
                        	<div class="name">Luca Barcellona</div>
						</div>
					</a>
				</div>
				<div class="schedule-session" id="six">
					<div class="hour">15.30</div>
                    <a href="speakers.html#markboulton">
						<div class="image"><img src="/img/2016/markb.png" alt="Mark Boulton"></div>
						<div class="topic">
							<div class="title">Design Systems in Difficult Places</div>
							<div class="name">Mark Boulton</div>
						</div>
					</a>
				</div>
				<div class="schedule-session" id="">
					<div class="hour">16.15</div>
					<div class="image">&nbsp;</div>
					<div class="topic">
						<div class="title light">Coffee Break</div>
						<div class="name"></div>
					</div>
				</div>
				<div class="schedule-session" id="seven">
					<div class="hour">16.35</div>
                    <a href="speakers.html#gerryleonidas">
						<div class="image"><img src="/img/2016/gerry.png" alt="Gerry Leonidas"></div>
						<div class="topic">
							<div class="title">Zombie Typography</div>
		                    <div class="name">Gerry Leonidas</div>
						</div>
					</a>
				</div>
				<div class="schedule-session" id="eight">
					<div class="hour">17.25</div>
                    <a href="speakers.html#sthoths">
						<div class="image"><img src="/img/2016/sumner.png" alt="Sumner Stone"></div>
						<div class="topic">
							<div class="title">Romancing the Outline (Closing keynote)</div>
                        	<div class="name">Sumner Stone</div>
						</div>
					</a>
				</div>
				<div class="schedule-session" id="">
					<div class="hour">18.10</div>
					<div class="image">&nbsp;</div>
					<div class="topic">
						<div class="title light">Closing Remarks</div>
						<div class="name"></div>
					</div>
				</div>
				<div class="schedule-session" id="">
					<div class="hour">19.30</div>
					<div class="image">&nbsp;</div>
					<div class="topic">
						<div class="title">Party! @ <a href="https://goo.gl/maps/aC2o1">Clan Destino - via Baccarini 21</a></div>
						<div class="name">sponsored by <a href="http://www.pixartprinting.it/?utm_source=kerningconf">PixartPrinting</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>